.block--grid {
	& figure {
		margin-bottom: 0;
	}
}

[class*=unit--grid] {
	margin-bottom: 1em;
}

.unit--grid-image {
}

.unit--grid-text {
	box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
	padding: $padding-small;
	background: $color-primary;
	color: $color-secondary;
	& p {
		color: $color-secondary;
	}
}

