// IP Specific Styling - Overall Vairables set in _variables.scss

// COLORS
$color-primary: #000D31; // Navy Blue
$color-secondary: #FEE9E1; // Pink
$color-tertiary: #E6E7EA; // Grey

// BASE VALIE
$base-value: 1em; // To test ems value as opposed to px

// FONT
$font-sans: 'Open Sans', sans-serif;