// IP Specific Styling, should this be in _variables.scss

// COLORS
$color-primary: #000D31; // Navy Blue: rgba(0,13,49,1); 
$color-secondary: #FEE9E1; // Pink: rgba(254,233,225,1);
$color-tertiary: #E6E7EA; // Grey
 
// Set ems value?
$base-value: 1em; // To test ems value as opposed to px

// Font: Open Sans
$font-sans: 'Open Sans', sans-serif;
